* {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: #141414;
}

body {
  margin: 0;
}

h1, 
h2, 
h3, 
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}